body{
  margin:auto;
  margin-top: 200px;
}

.card{
  height: 350; 
  width: 400px;
  flex-direction: row-reverse;
}
.welc{
  position: relative;
}
.titulos h1{
  text-align: center;
  color: #e23d82;
  color:  #e23d82;
  font-size: 50px;
 
}

h5{
  font-family: 'Roboto', cursive;
  font: size 30px;
  text-align: center;
}

   
@media (max-width:650px) and (min-width:200px) {
  .card-title {
 position:center;
 margin-top: 80px;
 margin-right: 80px;
 
  }
  }
  @media (max-width:650px) and (min-width:200px) {
    img{
   position:center;
   margin-top: -10px;
   margin-left:70px;
   
    }
    }
  


/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  color: rgb(241, 235, 235);

}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1b89d3,#074f80);
}


/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;

  }
}
@media (max-width:650px) and (min-width:200px) {
  .cards{
 position: center;
 height: 160%;
 
  }
  }

footer p{
    text-align: center;
}
.btn{
  background:white;
  color:#e23d82;
  font-family: 'Roboto', cursive;
  font-weight: bold;
  text-align: center;
}
.flexcontainer{
margin:auto;
font-size: 50px;
}
#log{
margin-top: 50px;  }



  @media (max-width:650px) and (min-width:200px) {
    #log{
   position:center;
   margin-left:-0px;
   width:  100%;
  height: 100%;
   
    }
    }
  
  p{
    font-size: 20px;
  }
