.container { 
    margin-top: 15%;
    margin-bottom: 10%;   
     
}


  .text{
       text-align: center;
    }
.card-title{
    text-align: center;
}

/*h1 de quienes somos*/

.quienes{
box-sizing: border-box;
display: flex;
float: right;
margin-top: 100px;
padding-top: 70px;
padding-right: 250px;
}

/*contedor para logo*/
.contlogo {
    /*background-color: coral;*/
    box-sizing: border-box;
    height: 400px;
    width: 35%;
    display: flex;
    float: left;
    margin-top: 30px;
    padding-left: 200px;

}  

/*parrafo de quienes somos*/
.pa {
    box-sizing: border-box;
    width: 60%;
    display: flex;
    float: right;
    margin-top: 40px;
    padding-right: 20px;


}


.espacio{
   height: 10cm;
   width: 10cm;
}