#cont{
   /*  position: absolute;  */
    width: 622px;
    height: 439px; 
    left: 690px;
    top: 248px; 
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 30px;
}
.contAlert{
    padding: 30px;
}
.btn{
    background-color: #7C5D99;
    color: aliceblue;
}

#imagenPrevisualizacion{
    margin-left: 40%;
}

body{
    background: url("/fotos/Fondos/FondoAddProduct.jpg") ;
    background-repeat:no-repeat;
    background-size: cover;
}

.h2{
    color: #A23256;
}
