p{
  text-align: justify
}


 
  .container1{
    margin-top: 2%;
    width: auto;
    height: auto;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    margin-top: 2%;
    width: auto;
    height:auto;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ia{
    margin-top:10%;
    margin-left: 10%;
    width: 28cm;
    height: 8cm;
}
.titulo{
    margin-top:8%;
    color: #FF6F61;
    text-align: center;
    }
    .card{
      display: inline-block;
        margin-left: 1%;
        margin-top: 2%;
      width: auto;
      height: auto;
      background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        }
        