#container {
    display: grid;
    width: 500px;
    height: 500px;
    left: 330px;
    top: 348px;
    justify-content: center;
    background-attachment: unset;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 30px
}

.container {
    margin-top: 50px;
}

.Titulo {
    font-size: 10000px;
    margin-bottom: 1000000px;
}

.btn {
    background-color: #e23d82;
    color: aliceblue;
    width: 100px;
    margin-left: 10px;
}

body {
    background: url("/fotos/Fondos/peakpx.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #e23d82;
}

.btn {
    background-color: #e23d82;
    color: aliceblue;
    margin-left: 0%;
}