/*estilo textos*/
.nav-link{
  color:white;
  font-weight: bold; 
  letter-spacing: 1px;
  font-family:"Roboto";
  font-size: 20px;
  margin-left: 90px;
  margin-top: 70px;
  margin-bottom: 10px;
  
}
@media (max-width: 768px) {
  .nav-link {
 
    letter-spacing: 0px;
  }
  }

.nav-item{
  color:#1483d3;
}

.dropdown-item{
  background-color: #1483d3;
}
#whatsapp {
  margin-top: 900px;
  position:fixed;
  right:20px;
  
}
/* whatsap*/
@media (max-width: 768px) {
#whatsapp {
margin-top:-500px;
}
}
svg {
  width: 80px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
  margin-left:-20px;
}

circle {
  fill: #25d366;
  
}
path {
  fill: #fff;
}
circle {
  fill: #25d366;
  width: 50px;
}
path {
  fill: #fff;
}

/*navbar*/
.navbar{
height: 70px;
z-index: 1;

}
.container-color{
  background-color: #1483d3;
  
  }
  .navbar-expand-lg{
   height:50px;
   
  }/*
  .container-fluid{
    height: 100px;
  }*/
/*ajolote*/  
.ajolote{
width:90px;
height:90px; 
margin-top:40px;
}

@media (max-width: 768px) {
  .ajolote {
 margin-left: 100px;

  }
  }

/* carrito*/
.navio{

 height: 70px;
 margin-top: -15px;
 position: relative;
 
}
@media (max-width: 768px) {
  .navio {
 margin-bottom: 10px;

  }
  }

