/*SIN USO*/
*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 0 0;
  }
  
  .encabezado {
    background-color: #1b89d3;
    height: 80px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  #ajolotito {
	width: 30%;
	height:auto;
  margin-top: -1%;
  
  }
  
  .navegador {
    display: flex;
    max-width: 992px;
    margin: 0 auto;
  }


  .navegador-link {
    color:white;
    text-decoration: none;
    background:none;
    position: relative;
    padding: 5px 15px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    max-width: 150px;
    height: center;
    margin-bottom: 10px; /* es lo que ahorita esta en azul*/
    overflow: hidden;
    color:white;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
   
  }
  


  .nave-menudo {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menudo-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nave-menudo-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nave-menudo-link:hover
   {
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background-color: #0084a1;
    transition: 0.5s;
  }
  
  /* TOGGLE (boton despegable)*/
  .hamburguesa {
    color: rgba(255, 255, 255, 0.893);
    background: none; /*none*/
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
    position: absolute;
    right: 20px;
    top:0;
  }


.bi-cart-plus{	
  margin-top: 40%;
	 
}


  /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .encabezado {
      height: 60px;
    }
  
    .ajolotito {
      font-size: 50px;
      padding: 0 50px;
      line-height: 100px;
      z-index: 1;
    }
  
    .nave-menudo {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #277fbb;
      position: absolute;
      z-index: 2;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(400px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menudo-item {
      line-height: 70px;
    }
  
    .nave-menudo-link:hover,
    .nave-menudo-link_active {
      background: white;
      color:#00646B;
    }
  
    .hamburguesa {
      display: block;
    }
  
    .nave-menudo_visible {
      left: 0;
    }
  
    .hamburguesa:focus:not(:focus-visible) {
      outline: none;
    }
  }




  #registro{
    margin-left: 20%;
  }

  @media (max-width: 550px){
    #registro{
    margin-left: 2%;

    }
    }

    @media (max-width: 900px){
        #registro{
        margin-left: 2%;
    
        }
        }