/* *{
    margin: 0;
    box-sizing: border-box;
  }
   */
  body {
    font-family: sans-serif;
    /* padding: 90px 0 0; */
    /* background-color: #1b89d3; */
  }
  nav{
    background-color: #1b89d3;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #ajolotito {
	width: 25%;
	height: 25%;
  }
  
  .navegador-link {
    color:white;
    text-decoration: none;
    background:none;
    position: relative;
    padding: 5px 15px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    max-width: 150px;
    height: center;
    margin-bottom: 10px; /* es lo que ahorita esta en azul*/
    overflow: hidden;
    color:white;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
  }
  
  .nav-item{
    margin-right: 10px;
  }

  .nav-menudo-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nave-menudo-link:hover
   {
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background-color: white;
    transition: 0.5s;
  }

  @media (max-width:412px) and (min-width:200px) {
    #ajolotito{
   position: auto;
   margin-top: 0px;
   width:  50px;
   height: 50px;
   
      }
      }