.container {
    /*  position: absolute;  */

    width: 600px;
    height: 550px;
    left: 890px;
    top: 248px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-top: 100px;
    justify-content: center;

}

@media (max-width:600px) and (min-width:1600px) {
    .container {
        width: 100%;
        height: 100%;
        margin-bottom: 100%;
        position: fixed;
    }
}

@media (max-width:600px) and (min-width:200px) {
    .container {
        width: auto;
        height: 70%;
        position: center;
    }
}

.swal2-confirm.custom-confirm-button-class {
    background-color: #e23d82;
}

.tituloRegistro {
    font-size: 40px;
    margin-bottom: 20px;
    color: #e23d82;
}

@media (max-width:600px) and (min-width:200px) {
    .tituloRegistro {
        width: auto;
        height: 70%;
        position: center;
    }
}

.btn {
    background-color: #e23d82;
    color: aliceblue;
    margin-left: 100px;
}

@media (max-width: 1024px) {
    .btn {
        width: 100%;
        height: 100%;
        margin-left: auto;
    }
}


body {
    background: url("/fotos/Fondos/peakpx.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:500px) and (min-width:1600px) {
    body {
        background-image: url("/fotos/Fondos/peakpx.jpg");
    }
}

@media (max-width:500px) and (min-width:200px) {
    body {
        background-image: url("/fotos/Fondos/peakpx.jpg");
    }
}
input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
   margin: 0; 
 }
 
 input[type=number] { -moz-appearance:textfield; }